<div id="sidebar" class="col-lg-2">
  <div id="logo"><a href="<%=root_path%>"><img src="<%= asset_url 'logo.png' %>" width="140" height="32" alt="SDS Global Shipping"></a></div>
  <% if user_signed_in? %>
    <div class="account">
      <div class="avatar">
        <!-- <a href="#"><img src="<%#= current_user.avatar.url(:medium) %>" alt=""></a> -->
      </div>
      <div class="usermenu">
        <ul>
          <li><a href="<%= profile_path%>" class="u_profile" ></a></li>
          <li><a href="<%= edit_user_registration_path%>" class="u_edit"></a></li>
          <li><a href="<%= destroy_user_session_path%>" data-method="DELETE" class="u_logout"></a></li>
        </ul>
      </div>
      <div class="username"><a href="<%= profile_path%>"><%= "#{current_user.name}  #{current_user.last_name}"%> </a></div>
    </div>
  <% else%>
    <div class="authorization">
      <ul>
        <li><a href="#signup" data-toggle="modal" data-target="#myModal" class="signup">Регистрация</a></li>
        <li><a href="#signin" data-toggle="modal" data-target="#myModal">Войти</a></li>
      </ul>
    </div>
  <% end%>
  <div id="mainmenu">
    <ul>
      <li><%=link_to 'поиск авто', search_url, class: "m_search #{'active' if params[:action]=='search'}"%>" class="m_search"> %></li>
      <li><%=link_to 'каталог авто', catalog_url, class: "m_catalog #{'active' if params[:action]=='catalog'}"%></li>
      <li><%=link_to 'машины с <br> аукциона'.html_safe, auction_url, class: "m_auction #{'active' if params[:action]=='auction'}"%></li>
      <li><a href="#" class="m_emergency">аварийные <br> автомобили</a></li>
      <li><a href="#" class="m_new">новые авто</a></li>
      <li><a href="#" class="m_delivery">доставка</a></li>
      <li><a href="#" class="m_parts">запчасти <br> и аксесуары</a></li>
      <li><a href="#" class="m_expert">экспертиза <br> автомобиля</a></li>
      <li><%=link_to 'о нас', about_url, class: "m_about #{'active' if params[:action]=='about'}"%></li>
      <li><a href="#" class="m_contacts">контакты</a></li>
      <li><%=link_to 'F.A.Q.', faq_url, class: "m_faq #{'active' if params[:action]=='faq'}"%></li>
      <li><a href="#" class="m_cooperation">сотрудничество</a></li> 
    </ul>
  </div>
  <div class="lang">
    язык: <a href="#"><span class="ru">русский</span></a>
  </div>
  <div class="geo">
    <a href="#"><span>Кыргызстан, Бишкек</span></a>
  </div>
</div><!-- #sidebar -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <ul class="nav nav-tabs" id="myTab">
        <li class="n_signin"><a href="#signin">Вход в систему</a></li>
        <li class="n_signup"><a href="#signup">Регистрация</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="signin">
          <%= form_for resource, :as=>resource_name, :url => session_path(resource_name), :html => {:class =>'forms'} do |f| %>
            <div class="full">
              <div class="item">
                <%= f.label :email %><br />
                <%= f.email_field :email, :autofocus => true %>
              </div>
            </div>
            <div class="item">
              <%= f.label :password %><br />
              <%= f.password_field :password %>
              <div class="forgot"><a href="#">Забыли пароль?</a></div>
            </div>
            <div><%= f.button "Войти" %></div>
          <% end%>
        </div>
        <div class="tab-pane" id="signup">
          <div class="forms">
            <%=form_for(resource, :as => resource_name, :html=>{ :multipart => true}, :url =>  registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
              <div class="half">
                <div class="item mr20">
                  <div><%= f.label :name %><br /></div>
                  <div><%= f.text_field :name, :autofocus => true %><br /></div>
                </div>
                <div class="item">
                  <div><%= f.label :second_name %><br /></div>
                  <div><%= f.text_field :last_name %><br /></div>
                </div>
              </div>
              <div class="full">
                <div class="item">
                  <div><%= f.label :address %><br /></div>
                  <div><%= f.text_field :address %><br /></div>
                </div>
              </div class="full">
              <div class="full">
                <div class="item">
                  <div><%= f.label :avatar %><br /></div>
                  <div><%= f.file_field :avatar %><br /></div>
                </div>
              </div>
              <div class="full">
                <div class="item">
                  <div><%= f.label :email %><br />
                  <%= f.email_field :email%></div>
                </div>
              </div>
              <div class="half">
                <div class="item mr20">
                  <div><%= f.label :password %><br />
                    <%= f.password_field :password %></div>
                </div>
                <div class="item">
                <div><%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation %></div>
                </div>
              </div>
              <div><%= f.button  "Зарегистрироваться" %></div>
            <% end%>
          </div><!-- //forms -->
        </div>
      </div>
    </div>
  </div>
</div>



