<div id="inner_page">
  <div class="blc_edit_profile">
    <div class="tit">Редактирование личных данных</div>
    <div class="forms">
      <form action="#">
        <div class="half">
          <div class="item">
            <label for="">Имя:</label>
            <input type="text" value="Амброзимония"/>
          </div>
          <div class="item">
            <label for="">Фамилия:</label>
            <input type="text" class="error"/>
          </div>
          <div class="status">Поле должно быть заполнено</div>
        </div>
        <div class="full">
          <div class="item">
            <label for="">Адрес:</label>
            <input type="text" value="Кыргызстан, Бишкек, ул Красивых молдавских партиза"/>
          </div>
        </div>
        <div class="full">
          <div class="item">
            <label for="">E-mail:</label>
            <input type="text" value="ambrosia@gmail.com"/>
          </div>
        </div>
        <div class="change_password">
          <a href="#"><span>Хотите сменить пароль?</span></a>
        </div>
        <div class="full">
          <div class="item">
            <label for="">Введите текущий пароль:</label>
            <input type="text" value=""/>
          </div>
        </div>
        <div class="half">
          <div class="item">
            <label for="">Новый пароль:</label>
            <input type="text" value="Амброзимония"/>
          </div>
          <div class="item">
            <label for="">Подтверждения пароля:</label>
            <input type="text"/>
          </div>
        </div>
        <button>Применить изменения</button>
        <button class="cancel">Отменить</button>
      </form>
    </div><!-- //forms -->
  </div>
</div>