<div id="inner_page">

  <div class="blc_profile">
    <div class="avatar">
      <a href="#"><img src="<%= asset_url('tmp/avatar_big.jpg')%>" alt=""><span>сменить аватар</span></a>
    </div>
    <div class="info">
      <div class="tit">Амброзимония Нестеровноподобная</div>
      <ul>
        <li><span>Адрес:</span> Кыргызстан, Бишкек, ул Красивых молдавских партизан, дом 17, кв 10</li>
        <li><span>Почта:</span> <a href="#">ambrosia@gmail.com</a></li>
        <li><span>Состояние счета:</span> <span class="price">$3 500</span></li>
      </ul>
    </div>
  </div>


</div>
