// @font-face {
//     font-family: 'Roboto';
//     src: url('../fonts/roboto-regular-webfont.eot');
//     src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto-regular-webfont.woff') format('woff'),
//          url('../fonts/roboto-regular-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Roboto Medium';
//     src: url('../fonts/roboto-medium-webfont.eot');
//     src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto-medium-webfont.woff') format('woff'),
//          url('../fonts/roboto-medium-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Roboto Italic';
//     src: url('../fonts/roboto-italic-webfont.eot');
//     src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/roboto-italic-webfont.woff') format('woff'),
//          url('../fonts/roboto-italic-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

* { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

body { 
	font: 13px Arial, Helvetica, sans-serif; 
	color: #2b2b2b; 
	background: #fafafa asset_url('bg.jpg') repeat-y center;
}

// Mixins -------------------------------
@mixin box {
	background: #fff;
	border-radius: 5px; 
	box-shadow: 0 1px 1px rgba(0,0,0,0.1); 
	margin-bottom: 20px;
	overflow: hidden;
	border: 1px solid #cfcfcf;
}

// Variables ----------------------------
$blue: #2b5496;
$border-color: #d1d1d1;
$red: #dd3647;
$lightGrey: #a1a1a1;
$grey: #4c4c4c;
$darkgrey: #4c4c4e;
	
.i_email{ background-position: 0 0; } 
.i_mobile{ background-position: 0 -72px; } 
.i_phone{ background-position: 0 -144px; } 
.i_skype{ background-position: 0 -216px; } 

a { 
	color: $blue; 
}

a img { 
	border: none; 
}

button {
	background-color: #dc3747;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	padding: 10px;
	border: none;
}

.forms {
	label, legend {
		color: #5d5d5d;
		font-size: 12px;
		font-weight: normal;
		display: block;
		border: none;
		margin: 0 0 3px;
	}
	.group {
		&.left {
			float: left;
			margin-right: 10px;
			width: 100px;
			label {
				font-weight: bold;
				color: #000;
				line-height: 18px;
			}
		}
	}
	input.uniform-input,
	select.uniform-multiselect,
	textarea.uniform{
			background: asset_url('forms/bg-input.png') repeat-x;
			background-position: 0 0; 
			&.active{
				background: asset_url('forms/bg-input-focus.png') repeat-x 0 0;
		}
	}
}

.selector {
	-webkit-font-smoothing: antialiased; 
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	margin: 0;
	line-height: 26px;
	padding: 0 0 0 10px;
	position: relative;
	overflow: hidden; 
	background: asset_url('forms/select.png') repeat !important;
	background-position: 0 -43px !important;
	height: 43px !important;
	select {
		width: 100%;
		height: 39px !important;
	}
	span {
		background-image: asset_url('forms/select.png') !important;
		background-repeat: no-repeat;
		-webkit-font-smoothing: antialiased; 
		background-position:right 0 !important;
		height: 43px !important;
		line-height: 43px !important; 
		font-weight: bold !important; 
		color: #000 !important; }
	&:focus{
		outline: 0; 
	}
}

.checker {
	span{
		background: asset_url('forms/checkbox.png') !important;
		.checked {
			background-position: -19px 0  !important;
		}
	}
}

#bx-pager ul{
	margin: 0;
	padding: 0;
	li{
		display: inline;
		img{
			padding: 2px
		}
	}
}

#slide{
	height: 299px;
}

#sidebar { 

	#logo { 
		padding: 15px 0; 
	}

	.authorization { 
		margin-bottom: 20px; 
		ul { 
			margin: 0; 
			li { 
				margin-bottom: 10px; 
				a { 
					border-radius: 5px; 
					color: #fff; 
					text-align: center; 
					display: block; 
					padding: 9px 0; 
					font-weight: bold; 
					background-color: #201f24; 
					text-shadow: 0 0 5px rgba(0,0,0,0.3);
					&.signup { background-color: #dc3747; }
				}
			}
		}
	}

	#mainmenu { 
		margin: 0 -15px 20px;
		ul { margin: 0; 
			li {
				a {
					padding: 10px 15px 10px 43px; 
					display: block; 
					color: #fff;
					background-repeat: no-repeat;
					background-image: asset_url('m.png');
					line-height: 12px;
					&:hover, &.active{ 
						background-color: #201f24; 
						text-decoration: none; 
					}
					&.m_about { background-position: 13px 5px; } 
					&.m_auction { background-position: 13px -61px; } 
					&.m_catalog { background-position: 13px -138px; } 
					&.m_contacts { background-position: 13px -211px; } 
					&.m_cooperation { background-position: 13px -283px; } 
					&.m_delivery { background-position: 13px -355px; } 
					&.m_emergency { 
						background-position: 13px -422px; 
						&.active {
							background-color: #201f24;
						}
					} 
					&.m_expert { background-position: 13px -492px; } 
					&.m_faq { background-position: 13px -571px; } 
					&.m_new { background-position: 13px -643px; } 
					&.m_parts { background-position: 13px -709px; } 
					&.m_search { background-position: 13px -787px; } 
				}
			}
		}
	}

	.lang {
		background: asset_url('line_sidebar.gif') repeat-x top;
		padding: 14px 0;
		color: #fff;
		text-align: center;
		font-size: 11px;
		margin-right: -5px;
		a {
			color: #fff;
			background: asset_url('arrow_sidebar.png') no-repeat right;
			padding-right: 15px;
			span {
				padding-left: 19px;
				&.ru {
					background: asset_url('ru.gif') no-repeat left;      
				}
			}
		}
	}
	
	.geo {
		font-size: 11px;
		background: asset_url('line_sidebar.gif') repeat-x top;
		padding: 14px 0;
		text-align: center;
		margin-right: -5px;
		a {
			color: #fff;
			background: asset_url('geo_sidebar.png') no-repeat left;
			padding-left: 15px;
			span {
				background: asset_url('arrow_sidebar.png') no-repeat right;
				padding-right: 15px;
			}
		}
	}


}

#content { 
	background: #f1f1f1; 
	padding-top: 20px;
	.hint { 
		@include box;
		background: #fcffc6; 
		border: 1px solid $border-color; 
		font-size: 14px;
		margin-bottom: 20px; 
		padding: 14px 20px 15px; 
		position: relative; 
		color: $darkgrey;
		overflow: visible;
		a {
			color: $darkgrey;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			margin: 0;
		}
		.close {
			position: absolute;
			top: 17px;
			right: 13px;
			display: block;
			background-image: asset_url('close_hint.png');
			width: 10px;
			height: 10px;
			opacity: 1;
		}
		.geo {
			text-decoration: none;
			font-weight: bold;
			background: asset_url('arrow_hint.png') no-repeat right;
			padding-right: 20px;
			span {
				background: asset_url('geo_hint.png') no-repeat left;
				padding-left: 20px;
			}
		}
		&:before {
			content: "";
			position: absolute;
			top: 18px;
			left: -7px;
			background-image: asset_url('apendix_hint.png');
			width: 7px;
			height: 14px;
			display: block;
		}
		.countries {
			@include box;
			width: 295px;
			height: 415px;
			position: absolute;
			top: 40px;
			left: 70px;
			z-index: 999;
			padding: 20px 10px;
			display: none;
			.countrylist {
				ul {
					margin: 0;
					li {
						a {
							display: block;
							font-size: 13px;
							text-decoration: none;
							padding: 6px 12px;
							border-radius: 4px;
							&:hover {
								background-color: #e8e8e8;
							}
						}
					}
				}
			}
		}
	}

	#slider {
		@include box;
		overflow: hidden;
	}

	#search { 
		@include box;
		border: 2px solid $red; 
		padding: 15px;

		border-style: solid; border-width: 5px; 
		-moz-border-image: asset_url('border.png') 5 round; 
		-webkit-border-image: asset_url('border.png') 5 round; 
		-o-border-image: asset_url('border.png') 5 round; 
		border-image: asset_url('border.png') 5 round;
		.searchform {
			margin-bottom: 10px;
			input{
			background: asset_url('forms/bg-input.png') repeat-x 0 0;
			}
			button {
				span {
					background-image: asset_url('btn-search.png');
					width: 23px;
					height: 23px;
					display: block;
					margin: 0 auto;
					padding: 8px 0;
				}
			}
		}

		.advanced {
			position: relative;
			.nav-tabs {
				margin-bottom: 15px;
			}
			.close {
				position: absolute;
				top: 18px;
				right: 0px;
				padding-right: 17px;
				background: asset_url('close_advanced.png') no-repeat right top;
				font-size: 10px;
				color: $blue;
				opacity: 1;
			}
			.tab-content {
				padding-top: 10px;
			}
			
			.form-year {
				height: 70px;
				position: relative;
				.filterbar {
					background: #e1e1e1;
					border-top: 1px solid #bababa;
					border-radius: 3px;
					height: 4px;
					position: relative;
					.value {
						position: absolute;
						top: -1px;
						background: #d63545;
						border-radius: 3px;
						height: 4px;
					}
					.from, .to {
						z-index: 100;
						top: 4px;
						position: absolute;
						&:before {
							content: "";
							position: absolute;
							top: -6px;
							left: 22px;
							width: 11px;
							height: 6px;
							display: block;
							background-image: asset_url('from-to.png');
						}
					}
					input {
						margin-top:30px;
						width: 55px;  
						text-align: center;
						padding: 10px 5px;
					}
				}
				.ui-slider {
				    background: #e1e1e1;
				    border: none;
				    border-top: 1px solid #bababa;
				    border-radius: 3px;
				    height: 4px;
				    position: relative;
				}

				:focus {
				    outline: none;
				}

				.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
				    background: none;
				    border: none;
				    cursor: pointer;
				}

				.ui-slider-handle:before {
				    content: "";
				    position: absolute;
				    top: 4px;
				    left: 6px;
				    width: 11px;
				    height: 6px;
				    display: block;
				    background-image: url('http://sds.spalmalo.com/assets/from-to-bc4a2e64715e2f99544abd459d2c3980.png');
				}
				.ui-slider-handle input {
				    text-align: center;
				    padding: 10px 5px;
				    font-size: 12px;
				    margin: 10px 0 0 -18px !important;
				}

				.ui-slider-range {
				    background: #d63545;
				    border-radius: 3px;
				    margin-top: -1px;
				}
			}
			.form-price {
				.text {
					width: 75px;
					float: left;
				}
				.sep {
					background: none;
					padding: 0 5px;
					float: left;
					line-height: 35px;
					color: #c2c2c2;
				}
				span {
					background-image: asset_url('forms/select.png');
					background-repeat: no-repeat;
					-webkit-font-smoothing: antialiased; 
					background-position:right 0 !important;
					height: 43px !important;
					line-height: 43px !important; 
					font-weight: bold !important; 
					color: #000 !important; 
				}
			}
			.cars_body {
				a {
					background-image: asset_url('i_car.png');
					width: 55px; 
					height: 30px; 
					display: block;
					float: left;
					margin: 0 15px 10px 0;
					&.car-sedan{ background-position: 0 0; } 
					&.car-minivan{ background-position: 0 -240px; } 
					&.car-coupe{ background-position: 0 -320px; } 
					&.car-convertible{ background-position: 0 -400px; } 
					&.car-hatchback{ background-position: 0 -480px; } 
					&.car-crossover{ background-position: 0 -560px; } 
					&.car-suv{ background-position: 0 -640px; } 
					&.car-pickup{ background-position: 0 -720px; } 
					&.car-fullsize-van{ background-position: 0 -800px; } 
					&.car-truck{ background-position: 0 -80px; } 
					&.car-moto{ background-position: 0 -160px; } 
				}
			}
		}
	}


	.featured {
		.item {
			@include box;
			text-align: center;
			padding: 62px 10px 10px;
			background-position: top center;
			background-repeat: no-repeat;
			height: 172px;
			border: 1px solid #d9d9d9;
			background-position: center 8px;
			&.itm_delivery {
				background-image: asset_url('itm_delivery.gif');
				a {
					color: $red;
					padding-right: 20px;
					background: asset_url('arrow_featured.png') no-repeat right;
				}
			}
			&.itm_parts {
				background-image: asset_url('itm_parts.gif');
			}
			&.itm_expert {
				background-image: asset_url('itm_expert.gif');
			}
			.tit {
				color: $blue;
				text-transform: uppercase;
				margin-bottom: 3px;
				font-size: 20px;
				line-height: 21px;
			}
			p {
				line-height: 18px;
				color: $grey;
			}
		}
	}

	.megafilter {
		@include box;
		.leftmenu {
			float: left;
			width: 140px;
			background: $blue;
			padding: 10px 0 20px;
			ul {
				margin: 0;
				li {
					a {
						color: #fff;
						display: block;
						padding: 11px 10px;
						text-shadow: 0 1px 1px rgba(0,0,0,0.5);
						text-align: right;
						&:hover, &.active {
							background: #fff;
							color: $blue;
							text-decoration: none;
						}
					}
				}
			}
		}
		.content {
			padding: 19px 0 0 10px;
			margin-left: 140px;
			background: #fff;
			.topmenu {
				padding-bottom: 9px;
				ul {
					margin: 0 0 0 10px;
					li {
						display: inline;
						margin-right: 30px;
						a {
								padding-bottom: 6px;
								&.active, &:hover {
								background: asset_url('active_topmenu.gif') no-repeat bottom;
								text-decoration: none;
							}
						}
					}
				}
			}
			.cards {
				.card {
					@include box;
					margin: 0 0 18px 8px;
					float: left;
					width: 193px;
					height: 135px;
					border: 1px solid $border-color;
					padding: 9px 10px 0;
					.tit {
						margin-bottom: 9px;
						white-space: nowrap;
						overflow: hidden;
						a {
							color: $blue;
							text-transform: uppercase;
							font-size: 14px;
						}
					}
					.meta {
						float: left;
						.image {
							margin-bottom: 6px;
						}
						.price {
							color: $red;
							font-size: 16px;
							clear: both;
						}
					}
					.info {
						margin-left: 80px;
						font-size: 11px;
						ul {
							margin: 0;
							li {
								white-space: nowrap;
								margin-bottom: 4px;
								span {
									color: $lightGrey;
								}
							}
						}
					}
				}
			}
			.all {
				padding: 13px 0;
				text-align: center;
				display: none;
			}
		}
	}

	.calculator {
		position: relative;
		z-index: 100;
		@include box;
		padding: 10px;
		.head {
			margin-bottom: 5px;
			.tit {
				color: $blue;
				text-transform: uppercase;
				margin-right: 5px;
				font-size: 15px;
			}
			label {
				color: #000;
				font-size: 13px;
				display: inline;
			}
		}
		.form-group {
			margin-bottom: 10px;
			&.form-volume {
				float: left;
				margin-right: 20px;
				.text {
					width: 50px;
				}
			}
			&.form-power {
				float: left;
				width: 105px;
				.text {
					width: 45px;
					float: left;
					margin-right: 5px;
				}
				.variant {
					float: left;
					label {
						margin: 0;
					}
				}
			}
			&.form-price {
				.text {
					width: 90px;
				}
			}
		}
	}
	.result {
		position: relative;
		z-index: 1;
		@include box;
		margin: -25px 30px 0;
		padding: 10px 20px;
		.row {
			.col-lg-6 {
				border-bottom: 1px solid #c2c2c2;  
			}
		}
		.item {
			padding: 12px 0;
			.lebel {
				font-style: 12px;
				color: $grey;
				margin-bottom: 8px;
			}
			.price{
				font-weight: bold;
				color: #000;
				strong {
					color: $red;
					font-size: 20px;
				}
			}
		}
	}

	.contacts {
		@include box;
		text-align: center;
		.head {
			background: $blue;
			text-align: center;
			height: 52px;
			line-height: 53px;
			margin-bottom: 17px;
			a {
				color: #fff;
				background: asset_url('arrow_contacts.png') no-repeat right;
				padding-right: 20px;
				span {
					background: asset_url('geo_contacts.png') no-repeat left;
					padding-left: 20px;
				}
			}
		}
		.tit {
			color: $blue;
			margin-bottom: 10px;
			font-size: 20px;
			text-transform: uppercase;
		}
		p {
			margin-bottom: 60px;
			font-size: 17px;
			&.sub {
				color: $lightGrey;
				font-size: 14px;
			}
			span {
				background-image: asset_url('i_contacts.png');
				background-repeat: no-repeat;
				padding: 2px 0 2px 30px;
			}
			&.desc {
				font-size: 11px;
				margin: -25px 0 21px;
			}
		}
		a {
			color: #000;
		}
	}
	
	footer {
		clear: both;
		border-top: 1px solid #dcdcdc;
		background: #fff;
		padding: 20px;
		margin: 0 -15px;

		.subscribe {
			height: 95px;
			label {
				font-weight: bold;
				display: block;
			}
			.txt {
				width: 80%;
			}
		}
		.communications {
			margin-bottom: 20px;
			.tit {
				font-weight: bold;
				margin-bottom: 20px;
				a {
					background: asset_url('arrow_communications.png') no-repeat right;
					padding-right: 20px;
					margin-left: 20px;
					span {
						background: asset_url('geo_communications.png') no-repeat left;
						padding-left: 20px;
					}
				}
			}
			.sub {
				color: $lightGrey;
				margin-bottom: 10px;
			}
			p {
				float: left;
				width: 50%;
				margin-bottom: 10px;
				font-size: 15px;
				span {
					background-image: asset_url('i_contacts.png');
					background-repeat: no-repeat;
					padding: 2px 0 2px 30px;
				}
				a {
					color: #000;
				}
			}
		}
		.social {
			height: 95px;
			.tit {
				font-weight: bold;
				margin-bottom: 15px;
			}
			a {
				margin-right: 10px;
			}
		}
		.auction {
			margin-bottom: 20px;
			.tit {
				font-weight: bold;
				color: #000;
				margin-bottom: 10px;
			}
		}
		.copyright {
			border-top: 1px solid #c2c2c2;
			padding-top: 20px;
			.author {
				float: right;
				a {
					color: #01ddfd;
				}
			}
		}
	}
}
.blc_about  {
	.contacts{
		p{
			margin-bottom: 35px !important;
		}
	}
}
#inner_page{
	.subheader{
		@include box;
		.theme {
			position: relative;
			h1 {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				text-align: center;
				font-size: 50px;
				color: #fff;
				font-weight: normal;
				text-transform: uppercase;
			}
		}
		.node{
			padding: 35px 20px 20px;
			line-height: 20px;
			font-size: 15px;
			p{
				margin-bottom: 15px;
				color: #4b4b4b;
			}
		}
	}

	.paginator {
		clear: both;
		padding: 45px 0;
		text-align: center;
		a, span {
			margin: 0 5px;
			color: #2b5494;
			font-size: 15px;
			&.prev {
				margin-right: 25px;
			}
			&.next {
				margin-left: 25px;
			}
			&.current {
				text-decoration: underline;
				color: #4b4b4b;
			}
		}
	}

}
.blc_about{
	.contacts {
		p {
			margin-bottom: 35px !important;
		}
	}
	.forms{
		text-align: left;
		@include box;
		.head{
			color: #fff;
			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: left;
			background: #2b5496;
			height: 52px;
			line-height: 53px;
			margin-bottom: 17px;
			padding-left: 20px;
		}
		.inner{
			padding: 0 20px 20px;
			input, textarea{
				width: 100%;
			}
		}
	}
}

.forms {
	.item {
		margin-bottom: 20px;
		label {
			display: block;
			font-size: 15px;
			color: #4b4b4b;
			margin-bottom: 6px;
		}
	}
}

.scroller {
		overflow-x: hidden;
		overflow-y: scroll;
		/* -webkit-overflow-scrolling: touch; *//* uncomment to accelerate scrolling on iOS */
}
.scroller::-webkit-scrollbar { /* Preventing webkit cross-direction scrolling bug */
		width: 0;
}
.results {
	.heading {
		font-size: 17px;
		margin-bottom: 20px;
		padding-top: 10px;
		font-weight: bold;
	}

	.filter {
		text-align: center;
		padding: 30px 0 40px;
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline;
				margin: 0 30px;
				a {
					color: $blue;
					font-size: 20px;
					text-transform: uppercase;
					padding: 0 5px 10px;
					&:hover, &.active {
						text-decoration: none;
						background: asset_url('active_filter.png') no-repeat bottom;
						color: #000;
					}
				}
			}
		}
	}

	.listing {
		margin: 0 -10px;
		.card {
			@include box;
			margin: 0 6px 12px;
			float: left;
			width: 235px;
			height: 170px;
			border: 1px solid $border-color;
			padding: 13px;
			.tit {
				margin-bottom: 15px;
				white-space: nowrap;
				overflow: hidden;
				a {
					color: $blue;
					text-transform: uppercase;
					font-size: 17px;
				}
			}
			.meta {
				float: left;
				padding-top: 3px;
				.image {
					margin-bottom: 6px;
				}
				.price {
					color: $red;
					font-size: 18px;
					clear: both;
					font-weight: bold;
				}
			}
			.info {
				margin-left: 119px;
				font-size: 11px;
				ul {
					margin: 0;
					li {
						white-space: nowrap;
						margin-bottom: 2px;
						span {
							color: $lightGrey;
						}
					}
				}
			}
		}
	}
}
.scroller__track {
		display: none; /* Invisible by default */
		position: absolute;
		right: 4px;
		top: 10px;
		bottom: 4px;
		width: 10px;
		background: rgba(0, 0, 0, .1);
}

.blc_faqlist {
	.item {
		@include box;
		margin-bottom: 17px;
		padding: 12px 90px 12px 20px;
		.tit {
			font-size: 18px;
			padding-left: 20px;
			color: $blue;
			cursor: pointer;
			position: relative;
			&:before {
				content: "";
				background: asset_url('arrow_faq.png') no-repeat;
				background-position: 0 -10px;
				width: 10px;
				height: 10px;
				position: absolute;
				top: 7px;
				left: 0;
				display: block;
			}
		}
		.node {
			display: none;
			padding-top: 10px;
			p {
				font-size: 15px;
				color: #4b4b4b;
				line-height: 20px;
			}
		}

		&.opened {
			.tit {
				color: #000;
				&:before {
					background-position: 0 0;
				}
			}
			.node {
				display: block;
			}
		}
	}
}
.baron .scroller__track {
		display: block; /* Visible when scrolling is possible */
}
.blc_feedback {
	.forms {
		.item {
			input, textarea {
				width: 40%;
				background-color: #fff;
			}
		}
	}
}
.scroller__bar { /* The bar. You should define width, right position and background */
		position: absolute;    
		z-index: 1;
		right: 0;
		width: 10px;
		background: #999;
}


.blc_log {
	@include box;
	padding: 20px;
	.tit {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.row {
		margin-bottom: 20px;
	}
	.date {
		color: #959595;
	}
	.name {
		font-size: 15px;
	}
	.delete {
		a {
			color: #dc3747;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

#sidebar {
	.account {
		border-bottom: 1px dotted #fff;
		padding-bottom: 10px;
		text-align: center;
		margin-bottom: 20px;
		.avatar {
			margin-bottom: 10px;
			img {
				border: 2px solid #fff;
			}
		}
		.usermenu {
			margin-bottom: 7px;
			ul {
				margin: 0;
				text-align: center;
				li {
					display: inline-block;
					margin: 0 3px;
					a {
						background-image: asset_url('i_usermenu.png');
						width: 18px; height: 18px;
						display: block;
						&.u_profile { background-position: 0 0; } 
						&.u_edit { background-position: 0 -68px; } 
						&.u_logout { background-position: 0 -136px; } 
					}
				}
			}
		}
		.username {
			a {
				color: #fff;
			}
		}
	}
	#mainmenu { 
		margin: 0 -15px 20px;
		ul { margin: 0; 
			li {
				a {
					&.m_log { background-position: 13px -852px; } 
				}
			}
		}
	}
}

.blc_profile {
	@include box;
	padding: 20px;
	.avatar {
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 0 1px 1px 0 #bdc1c2;
		float: left;
		margin-right: 15px;
		padding: 4px;
		position: relative;
		a {
			span {
				width: 120px;
				height: 32px;
				position: absolute;
				left: 0;
				bottom: 0;
				font-size: 11px;
				color: #fff;
				background: asset_url('i_change.png') no-repeat 2px 2px;
				&:before {
					content: '';
					position: absolute;
					left: 4px;
					bottom: 4px;
					background: #000;
					opacity: 0.5;
					width: 120px;
					height: 32px;
				}
			}
		}
	}
	.info {
		margin-left: 145px;
		.tit {
			margin-bottom: 10px;
			font-size: 18px;
		}
		ul {
			margin: 0;
			li {
				margin-bottom: 5px;
				span {
					color: #686868;
					margin-right: 6px;
				}
				.price {
					font-weight: bold;
					color: #dc3747;
				}
				a {
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.blc_edit_profile {
	@include box;
	padding: 20px;
	.tit {
		font-size: 18px;
		margin-bottom: 25px;
	}
	.half {
		overflow: hidden;
		position: relative;
		.item {
			float: left;
			margin-right: 20px;
		}
	}
	.full {
		position: relative;
		input {
			width: 396px;
		}
	}
	.change_password {
		margin-bottom: 14px;
		a {
			background: asset_url('arrow_change_password.png') no-repeat right;
			padding-right: 13px;
			span {
				border-bottom: 1px dotted #2b5494;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}

input.uniform-input {
	padding: 10px 5px;
	font-size: 15px;
	font-weight: normal;
}

button.cancel {
	background-color: #000000;
}

.forms {
	input {
		&.error {
			border-color: #dc3747;
		}
	}
	.status {
		color: $red;
		position: absolute;
		top: 34px;
		left: 430px;
	}
}

.modal {
	.nav-tabs {
		background: #e8e8e8;
		li {
			a {
				outline: none;
				background-image: asset_url('i_modal.png');
				background-repeat: no-repeat;
				padding-left: 48px !important;
				font-size: 17px;
				
			}
			&.n_signin {
				a {
					background-position: 19px 13px;	
				}
				&.active {
					a {
						background-position: 19px -57px;	
					}
				}
			}
			&.n_signup {
				a {
					background-position: 19px -200px;	
				}
				&.active {
					a {
						background-position: 19px -130px;		
					}
				}
			}
			&.active {
			}
		}
	}
}
	

.modal-dialog {
	width: 420px;
	top: 50%;
	.tab-pane {
		padding: 40px 20px 30px;
	}
	.half {
		overflow: hidden;
		.item {
			float: left;
			input {
				width: 169px;
			}
		}
	}
	.full {
		.item {
			input {
				width: 358px;
			}
		}
	}
}

.mr20 { margin-right: 20px; }

#signin {
	.item {
		position: relative;
		input {
			width: 245px;
		}
	}
	.forgot {
		position: absolute;
		top: 33px;
		right: 0;
	}
	.full {
		.item {
			input {
				width: 358px;
			}
		}
	}
}

.ui-slider {
	background: #e1e1e1;
	border: none;
	border-top: 1px solid #bababa;
	border-radius: 3px;
	height: 4px;
	position: relative;

	:focus {
		outline: none;
	}

	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		background: none;
		border: none;
		cursor: pointer;
	}

	.ui-slider-handle:before {
		content: "";
		position: absolute;
		top: 4px;
		left: 3px;
		width: 11px;
		height: 6px;
		display: block;
		background-image: asset_url('from-to.png');
	}

	.ui-slider-handle input {
		text-align: center;
		padding: 10px 5px;
		font-size: 12px;
		margin: 10px 0 0 -21px !important;
		width: 60px;
	}

	.ui-slider-range {
		background: #d63545;
		border-radius: 3px;
		margin-top: -1px;
	}
}

div.checker {
	float: left;
}