<div class="card">
  <div class="tit"><%= link_to car.manufacturer.title+' '+car.model.name, car %></div>
  <div class="meta">
    <div class="image"><a href="<%= car_path car %>">
    <%if car.images.any?%><%= image_tag car.images.first.url, size: "70x70"%><%end%></a></div>
    <div class="price"><%= car.price %></div>
  </div>
  <div class="info">
    <ul>
      <li><span>пробег:</span> <%=car.odometer%></li>
      <li><span>цвет:</span> <%=car.color%></li>
      <li><span>КПП:</span> <%=car.transmission%></li>
      <li><span>привод:</span> <%=car.drive%></li>
      <li><span>объем:</span> <%=car.engine_volume%>Л</li>
      <li><span>VIN:</span><%=car.vin%></li>
    </ul>
  </div>
</div>