<div id="search" class="forms">
  <!-- <form action="#" method="get"> -->
  <%= form_for @q, url: (path), method: :get do |f| %>
    <div class="searchform clearfix">
      <!-- <input name="" type="text" class="col-lg-11"> -->
      <%= f.text_field :manufacturer_title_or_model_name_cont, :class=>"col-lg-11"%>
      <button type="submit" class="button col-lg-1"><span></span></button>
    </div>
    <div class="advanced">
      <a href="#" class="close">скрыть</a>
      <ul class="nav nav-tabs">
        <li><a href="#advancedOptions" data-toggle="tab">Расширенные параметры</a></li>
        <li><a href="#moreOptions" data-toggle="tab">Дополнительные параметры</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="advancedOptions">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group form-mark">
                <%= f.label 'марка автомобиля'%>
                <%= f.collection_select :manufacturer_id_eq, Manufacturer.order(:title), :id, :title, prompt: 'Выберите марку',:width=>146 %>
                </div>
              <div class="form-group form-model">
                <%= f.label 'модель автомобиля'%>
                 <%= f.grouped_collection_select :model_id_eq, Manufacturer.order(:title), :models, :title, :id, :name, prompt: 'Выберите модель', :id=>"modelSelect", :width=>146 %>
              </div>
              <div class="form-group">
                <%= f.label "состояние авто"%>
                <% %w(new used).zip(%w(новые с_пробегом)).each do |state, text|%>
                <div class="group left">
                <%= f.check_box :state_eq, {},state, false %>
                <%= f.label "#{text}"%>
<!--                   <label for="newCheckbox"><input name="" type="checkbox" value="" id="newCheckbox">новые</label>
                </div>
                <div class="group left">
                  <label for="mileageCheckbox"><input name="" type="checkbox" value="" id="mileageCheckbox">с пробегом</label> -->
                </div>
                <%end%>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-lg-4">
            <div class="form-group form-year">
                <!-- <label for="modelSelect">год выпуска:</label> -->
                <%= f.label 'год выпуска'%>
                <div class="filterbar">
                  <!-- <input type="text" value="1987"> -->
                  <%= f.text_field :release_year_gt %>
                  <%= f.hidden_field :release_year_gt %>
                  <!-- <input type="text" value="2007"> -->
                  <%= f.text_field :release_year_lt %>
                  <%= f.hidden_field :release_year_gt %>
                </div>
              </div>
              <div class="form-group form-price">
                <!-- <label for="modelSelect">цена</label>
                <input type="text" value="1"> -->
                  <%= f.label 'цена' %>
                  <%= f.text_field :price_gt %>
                <span class="sep">&mdash;</span>
                <!-- <input type="text" value="9 999 999"> -->
                  <%= f.text_field :price_lt %>
                <select name="" id="">
                  <option value=""> у.е.</option>
                </select>
              </div>
              <div class="form-group">
                <%= f.label "Коробка передач"%>
                <% %w(автомат механика).each_with_index do |transmis, ind|%>
                  <div class="group left">
                    <%= f.check_box :transmission_eq, {},transmis, false %>
                    <%= f.label "#{transmis}"%>
                    <!-- <label for="automaticCheckbox"><input name="" type="checkbox" value="" id="automaticCheckbox">автомат</label> -->
                   
                  </div>
                <%end%>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-lg-4">
            <%= f.label 'кузов'%>
              <div class="cars_body">
              <% %w(sedan minivan coupe convertible hatchback crossover suv pickup fullsize truck moto).each do |body_type|%>
                <%= link_to image_tag('i_blank.jpg'),  params.merge(:q=>{:car_body_eq=>body_type}), :class=> "car-#{body_type}"%>
                <%end%>
                <%= f.hidden_field :car_body_eq%>
 <!--           <a href="" class="car-sedan"></a>
                <a href="#" class="car-minivan"></a>
                <a href="#" class="car-coupe"></a>
                <a href="#" class="car-convertible"></a>
                <a href="#" class="car-hatchback"></a>
                <a href="#" class="car-crossover"></a>
                <a href="#" class="car-suv"></a>
                <a href="#" class="car-pickup"></a>
                <a href="#" class="car-fullsize-van"></a>
                <a href="#" class="car-truck"></a>
                <a href="#" class="car-moto"></a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="moreOptions"></div>
      </div>

    </div>
  <% end %>
</div><!-- /search -->
