<footer>
  <div class="row">
    <div class="col-lg-8">
      <div class="subscribe">
        <label for="subscribe">подписка на рассылку новостей:</label>
        <input name="" type="text" placeholder="Введите Ваш электронный адрес" class="txt">
        <button type="submit">Подписаться</button>
      </div>
      <div class="communications">
        <div class="tit">наши контакты и региональные отделения: <a href="#"><span>Кыргызстан, Бишкек</span></a></div>
        <div class="sub">720001 Кыргызстан, Бишкек пр-т Манаса 40, офис 321</div>
        <p><span class="i_phone">+996 312 <strong>69 69 31</strong></span></p>
        <p><span class="i_mobile">+996 555 <strong>47 48 49</strong></span></p>
        <p><span class="i_email"><a href="#">info@site.com</a></span></p>
        <p><span class="i_skype"><a href="#">skypename</a></span></p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="social">
        <div class="tit">мы в социальных сетях:</div>
        <a href="#"><img src="<%= asset_url 'tmp/s_facebook.gif' %>" width="23" height="23" alt="Мы на Facebook"></a>
        <a href="#"><img src="<%= asset_url 'tmp/s_twitter.gif' %>" width="23" height="23" alt="Мы в Twitter"></a>
        <a href="#"><img src="<%= asset_url 'tmp/s_gplus.gif' %>" width="23" height="23" alt="Мы в Google+"></a>
        <a href="#"><img src="<%= asset_url 'tmp/s_vk.gif' %>" width="23" height="23" alt="Мы в VK"></a>
        <a href="#"><img src="<%= asset_url 'tmp/s_odnoklassniki.gif' %>" width="23" height="23" alt="Мы в Одноклассниках"></a>
        <a href="#"><img src="<%= asset_url 'tmp/s_moimir.gif' %>" width="23" height="23" alt="Мы в Моем Мире"></a>
      </div>
      <div class="auction">
        <div class="tit">авто представленны с аукционов:</div>
        <img src="<%= asset_url 'tmp/auction.gif' %>" width="241" height="102" alt="Аукционы">
      </div>
    </div>
  </div>
  <div class="copyright">
      &copy; www.sitename.com, 2013
      <span class="author"><a href="#">spalmalo inc.</a></span>
  </div>
</footer>
