<div class="hint">
  <a href="#" class="close"></a>
  <p>доставка авто в <a href="#" class="geo"><span>Российскую Федерацию</span></a> (Вы не в Российской Федерации? <a href="#">Изменить</a>)</p>
  <div class="countries">
    <div class="scroller">
      <div class="countrylist">
        <ul>
          <li><a href="#">Бангладеш</a></li>
          <li><a href="#">Бахрейн</a></li>
          <li><a href="#">Белиз</a></li>
          <li><a href="#">Белоруссия</a></li>
          <li><a href="#">Бельгия</a></li>
          <li><a href="#">Бенин</a></li>
          <li><a href="#">Бермуды</a></li>
          <li><a href="#">Болгария</a></li>
          <li><a href="#">Бонэйр</a></li>
          <li><a href="#">Босния и Герцеговина</a></li>
          <li><a href="#">Ботсвана</a></li>
          <li><a href="#">Бразилия</a></li>
          <li><a href="#">Бруней</a></li>
          <li><a href="#">Бангладеш</a></li>
          <li><a href="#">Бахрейн</a></li>
          <li><a href="#">Белиз</a></li>
          <li><a href="#">Белоруссия</a></li>
          <li><a href="#">Бельгия</a></li>
          <li><a href="#">Бенин</a></li>
          <li><a href="#">Бермуды</a></li>
          <li><a href="#">Болгария</a></li>
          <li><a href="#">Бонэйр</a></li>
          <li><a href="#">Босния и Герцеговина</a></li>
          <li><a href="#">Ботсвана</a></li>
          <li><a href="#">Бразилия</a></li>
          <li><a href="#">Бруней</a></li>
          <li><a href="#">Бангладеш</a></li>
          <li><a href="#">Бахрейн</a></li>
          <li><a href="#">Белиз</a></li>
          <li><a href="#">Белоруссия</a></li>
          <li><a href="#">Бельгия</a></li>
          <li><a href="#">Бенин</a></li>
          <li><a href="#">Бермуды</a></li>
          <li><a href="#">Болгария</a></li>
          <li><a href="#">Бонэйр</a></li>
          <li><a href="#">Босния и Герцеговина</a></li>
          <li><a href="#">Ботсвана</a></li>
          <li><a href="#">Бразилия</a></li>
          <li><a href="#">Бруней</a></li>
        </ul>
      </div>
      <div class="scroller__track">
        <div class="scroller-bar"></div>
      </div>
    </div>
  </div>
</div>