	<% content_for :title, "Auction" %>	
			<div id="inner_page">
				
				<div class="subheader">
					<div class="theme">
						<img src="<%=asset_url 'theme/theme_auction.jpg'%>" alt="@" class="img-responsive">
						<h1>Авто с аукциона</h1>
					</div>
				</div>
				<%= render partial:'filter',locals:{path: auction_path} %>

				<div class="results">
					<div class="filter">
						<ul>
							<li><%= link_to 'новые авто', auction_url(params.merge( state: 'new')), class: "#{'active' if params[:state] == 'new'}" %></li>
							<li><%= link_to 'авто б\у', auction_url(params.merge( state: 'used')), class: "#{'active' if params[:state] == 'used'}" %></li>
							<li><%= link_to 'аварийные авто', params.merge( state: 'damaged'), class: "#{'active' if params[:state] == 'damaged'}" %></li>
						</ul>
					</div>
					<div class="listing">
						<%= render @cars %>
					</div>
				</div><!-- //results -->

				<div class="paginator">
				<%= paginate @cars %>
				</div><!-- //paginator -->

			</div>