<% content_for :title, "Catalog" %>
			<div id="inner_page">
				
				<div class="subheader">
					<div class="theme">
						<img src="<%=asset_url 'theme/theme_catalog.jpg'%>" alt="@" class="img-responsive">
						<h1>Каталог</h1>
					</div>
				</div>
				<%= render partial:'filter',locals:{path: catalog_path} %>

				<div class="results">
					<div class="heading">
						Авто в наличии:
					</div>
					<div class="listing">
						<%= render @cars %>
					</div>
				</div><!-- //results -->

				<div class="paginator">
				<%= paginate @cars %>
				</div><!-- //paginator -->

			</div>