<% content_for :title, "Home" %>
<%= render 'hint' %>
<div id="slider">
  <div class="item"></div>
  <a href="#"><img src="<%= asset_url 'tmp/slide1.jpg' %>" alt="@" class="img-responsive"></a>
</div>
<%= render partial:'filter',locals:{path: cars_path} %>

<div class="featured">
  <div class="row">
    <div class="col-lg-4">
      <div class="item itm_delivery">
        <div class="tit">Доставка авто в <br> <a href="#">любой регион РФ</a></div>
        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="item itm_parts">
        <div class="tit">Запчасти <br> на заказ</div>
        <p>Lorem Ipsum является стандартной "рыбой" для текстов на латинице</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="item itm_expert">
        <div class="tit">Экспертиза <br> авто</div>
        <p>Его популяризации в новое время послужили публикация листов Letraset</p>
      </div>
    </div>
  </div>
</div><!-- /featured -->

<div class="megafilter clearfix">
  <div class="leftmenu">
    <ul>
      <% %w(sedan suv pickup truck fullsize coupe hatchback  moto).zip(["Автомобили", "SUV", "Пикапы", "Тяжелые грузовики", "Средние грузовоики", "Классика", "Для отдыха", "Мотоциклы"]).each do |body_type, text| %>
        <li><%= link_to text, cars_url(params.merge(:q=>{:car_body_eq=>body_type})), class: "#{'active' if params[:q][:car_body_eq]==body_type}" %></li>
        <% end %>
      <li><a href="#">Гидроциклы</a></li>
      <li><a href="#">Квадроциклы</a></li>
      <li><a href="#">Лодки</a></li>
      <li><a href="#">Прицепы</a></li>
      <li><a href="#">Пром. обор-е</a></li>
    </ul>
  </div>
  <div class="content">
    <div class="topmenu">
      <ul>
        <li><a href="#">Скоро в продаже</a></li>
        <li><a href="#" class="active">В наличии</a></li>
        <li><a href="#">Требуют починки</a></li>
        <li><a href="#">Аварийные</a></li>
        <li><a href="#">На разбор</a></li>
      </ul>
    </div>
    <div class="cards clearfix">
      <%= render @cars %>
    </div>
    <div class="all"><a href="#">смотреть все</a></div>
  </div>
</div><!-- /megafilter -->

<div class="row">
  <div class="col-lg-9">
    <div class="calculator forms">
      <form action="" method="post">
      <div class="head">
        <span class="tit">Таможенный кальуклятор</span>
        <span class="with_delivery">
          <input type="checkbox" id="deliveryID">
          <label for="deliveryID">с доставкой</label>
        </span>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Страна прибытия:</label>
            <select>
              <option>Россия</option>
              <option value="">Новая Зеландия</option>
            </select>
          </div>
          <div class="form-group form-volume">
            <label for="">Объем:</label>
            <input type="text" value="9999" id="">
            <span class="lbl">см<sup>2</sup></span>
          </div>
          <div class="form-group form-power">
            <label for="">Мощность:</label>
            <input type="text" value="9999" id="">
            <div class="variant">
              <div><label for="horsepowerID"><input type="radio" name="" value="" id="horsepowerID">л.c.</label></div>
              <div><label for="kwID"><input type="radio" name="" value="" id="kwID">кВт</label></div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="form-group">
            <legend>Тип двигателя:</legend>
            <div class="group left">
              <label for="gasolineID"><input type="radio" name="" value="" id="gasolineID">бензин</label>
            </div>
            <div class="group left">
              <label for="dieselID"><input type="radio" name="" value="" id="dieselID">дизель</label>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group form-price">
            <label for="priceID">Цена</label>
            <input type="text" id="priceID" value="1">
            <select name="" id="">
              <option value="">бел.р.</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Год выпуска:</label>
            <select name="" id="">
              <option value="">2010</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <legend>Ввозит:</legend>
            <div class="group left">
              <label for=""><input type="radio">физ.лицо</label>
            </div>
            <div class="group left">
              <label for=""><input type="radio">юр.лицо</label>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <legend>Незнаю как назвать пункт:</legend>
            <div class="group left">
              <label for=""><input type="radio">ZIP</label>
            </div>
            <div class="group left">
              <label for=""><input type="radio">VIN</label>
            </div>
            <div class="group left">
              <label for=""><input type="radio">Отправка (?)</label>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label for="">Место отправки</label>
            <select name="" id="">
              <option value="">Орландо</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Порт прибытия:</label>
            <select name="" id="">
              <option value="">Москва</option>
            </select>
          </div>
          <button type="submit">Пересчитать</button>
        </div>
      </div>
      </form>
    </div>
    <div class="result">
      <div class="row">
        <div class="col-lg-6">
          <div class="item">
            <div class="lebel">Стоимость растоможки авто:</div>
            <div class="price"><strong>14 321</strong> бел. р.</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="item">
            <div class="lebel">Стоимость доставки авто:</div>
            <div class="price"><strong>14 321</strong> бел. р.</div>  
          </div>
        </div>
      </div>
      <div class="summery">
        <div class="item">
          <div class="lebel">Общая стоиомть авто по прибытию в Ваш регион:</div>
          <div class="price"><strong>8 877 367</strong> бел. р.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="contacts">
      <div class="head">
        <a href="#"><span>Кыргызстан, Бишкек</span></a>
      </div>
      <div class="tit">Контакты</div>
      <p class="sub">720001 Кыргызстан, Бишкек<br> пр-т Манаса 40, офис 321</p>
      <p><span class="i_phone">+996 312 <strong>69 69 31</strong></span></p>
      <p><span class="i_mobile">+996 555 <strong>47 48 49</strong></span></p>
      <p><span class="i_email"><a href="#">info@site.com</a></span></p>
      <p><span class="i_skype"><a href="#">skypename</a></span></p>
      <p class="desc">текст о том что можно поискать представительства и партнеров в своем регоине</p>
    </div>
  </div>
</div>
<%= render 'footer' %>