<% content_for :title, "Search" %>		
			<div id="inner_page">
				
				<div class="subheader">
					<div class="theme">
						<img src="<%=asset_url 'theme/theme_search.jpg'%>" alt="@" class="img-responsive">
						<h1>Поиск</h1>
					</div>
				</div>
			<%= render partial:'filter',locals:{path: search_path} %>
				<div class="results">
					<div class="heading">
						Результаты поиска:
					</div>
					<div class="listing">
						<%= render @cars %>
					</div>
				</div><!-- //results -->

				<div class="paginator">
				<%= paginate @cars %>
				</div><!-- //paginator -->
			</div>

