<% content_for :title, "Trade" %>
			<div id="single">

				<div class="blc_photos">
					<div class="row">
						<div class="col-lg-7">
							<ul class="bxslider">
							  <li>
							  	<div id="slide"></div>
							  </li>
							</ul>

							<div id="bx-pager">
								<ul class="thumbs noscript">
								<% @car.images.each_with_index do |image,ind|%>
									<li><a class="thumb" data-slide-index="<% ind%>" href="<%= image.file.url(:big)%>"><img src="<%= image.file.url(:small )%>" /></a></li>
							  <% end%>
							  </ul>
							</div>
													</div>
						<div class="col-lg-5">
							<div class="info">
								<h3><%= @car.manufacturer.title+' '+@car.model.name %></h3>
								<ul>
									<li><span>год выпуска:</span> <%= @car.release_year %></li>
									<li><span>кузов:</span> <%= @car.car_body%></li>
									<li><span>коробка передач:</span> <%= @car.transmission%></li>
									<li><span>привод:</span> <%= @car.drive%></li>
									<li><span>объем:</span> <%= @car.engine_volume%></li>
									<li><span>пробег:</span> <%= @car.odometer%></li>
									<li><span>состояние авто:</span> <%= @car.damage%></li>
									<li><span>цвет:</span> <%= @car.color%></li>
								</ul>
								<div class="price">$<%= @car.price%></div>
								<button>Оформить заказ</button>
							</div>
						</div>
					</div>
				</div> <!-- // blc_photos -->

				<div class="results">
					<div class="heading">
						Похожие предложения:
					</div>
					<div class="listing">
							<%= render partial: 'car', collection: @related %>
					</div>
				</div><!-- //results -->
				
			</div>

			<div class="backing">
				<a href="#">К результатам поиска</a>
			</div>
