			<div id="inner_page">

				<div class="subheader">
					<div class="theme">
						<img src="<%= asset_url 'theme/theme_about.jpg' %>" alt="@" class="img-responsive">
						<h1>О нас</h1>
					</div>
					<div class="node">
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
						<p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. </p>
						<p>Proin condimentum fermentum nunc. <br>
						Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
					</div>
				</div>

				<div class="row blc_about">

					<div class="col-lg-4">
						<div class="contacts">
							<div class="head">
								<a href="#"><span>Кыргызстан, Бишкек</span></a>
							</div>
							<div class="tit">Контакты</div>
							<p class="sub">720001 Кыргызстан, Бишкек<br> пр-т Манаса 40, офис 321</p>
							<p><span class="i_phone">+996 312 <strong>69 69 31</strong></span></p>
							<p><span class="i_mobile">+996 555 <strong>47 48 49</strong></span></p>
							<p><span class="i_email"><a href="#">info@site.com</a></span></p>
							<p><span class="i_skype"><a href="#">skypename</a></span></p>
							<p class="desc">текст о том что можно поискать представительства и партнеров в своем регоине</p>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="forms">
							<div class="head">Форма обратной связи</div>
							<div class="inner">
							<form action="#">
								<div class="item">
									<label for="emailID">E-mail:</label>
									<input type="text" id="emailID" />
								</div>
								<div class="item">
									<label for="messageID">Текст сообщения:</label>
									<textarea name="" id="messageID" cols="30" rows="10"></textarea>
								</div>
								<button>Отправить</button>
							</form>
							</div>
						</div>
					</div>
				</div>

			</div>