			<div id="inner_page">

				<div class="subheader">
					<div class="theme">
						<img src="<%= asset_url 'theme/theme_faq.jpg' %>" alt="@" class="img-responsive">
						<h1>F.A.Q.</h1>
					</div>
				</div>

				<div class="blc_faqlist">
					<div class="item opened">
						<div class="tit">Какие проблемы могут возникнуть при прохождении таможни?</div>
						<div class="node">
							<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
							<p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimen</p>
						</div>
					</div>
					<div class="item">
						<div class="tit">В каких это немецких консульствах в России можно машину снять с учёта ?</div>
						<div class="node">
							<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
							<p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimen</p>
						</div>
					</div>
					<div class="item">
						<div class="tit">Какими критериями пользуются уполномоченные лица таможни для расчета стоимости накруток для авто?</div>
						<div class="node">
							<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
							<p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimen</p>
						</div>
					</div>
					<div class="item">
						<div class="tit">В каких это немецких консульствах в России можно машину снять с учёта ?</div>
						<div class="node">
							<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
							<p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimen</p>
						</div>
					</div>
					<div class="item">
						<div class="tit">Какими критериями пользуются уполномоченные лица таможни для расчета стоимости накруток для авто?</div>
						<div class="node">
							<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
							<p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimen</p>
						</div>
					</div>
					<div class="item">
						<div class="tit">В каких это немецких консульствах в России можно машину снять с учёта ?</div>
						<div class="node">
							<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
							<p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimen</p>
						</div>
					</div>
					<div class="item">
						<div class="tit">Какими критериями пользуются уполномоченные лица таможни для расчета стоимости накруток для авто?</div>
						<div class="node">
							<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
							<p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimen</p>
						</div>
					</div>
				</div><!--  //faqlist -->

				<div class="paginator">
					<a href="#" class="prev">предыдущая</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<span>...</span>
					<a href="#">10</a>
					<a href="#" class="next">следущая</a>
				</div><!-- //paginator -->

				<div class="blc_feedback">
					<div class="forms">
						<form action="#">
							<div class="item">
								<label for="emailID">E-mail:</label>
								<input type="text" id="emailID" />
							</div>
							<div class="item">
								<label for="questionID">Ваш вопрос:</label>
								<textarea name="" id="questionID" cols="30" rows="10"></textarea>
							</div>
							<button>Задать вопрос</button>
						</form>
					</div><!-- //forms -->
				</div>