<!DOCTYPE html>
<html>
<head>
  <title><%= yield (:title)%></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      
      <%= render 'shared/sidebar' %>  
      <div id="content" class="col-lg-10">
        <%= yield %>
        
      </div><!-- #content -->
    </div>
  </div>
</body> 
</html>
